.hidden {
  display: none !important;
}

body {
    color: #fff;
    background-color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 11px;
}

#header_title {
    color:#777;
}

#header_title a {
    color:#bbb;
    text-decoration:none;
}

#header_title h2 {
    color:#fff;
    font-weight:normal;
    font-size:2.5em;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}

#header_menu h2 {
    color:#bbb;
    font-weight:normal;
    font-size:1.75em;
    margin:0 0 0 0;
    padding:0 0.5em 0.25em 0;
    border-right:1px solid #808080;
    float:left;
}

#header_menu h2 a {
    color:#bbb;
    text-decoration:none;
}

#header_menu h3 {
    color:#777;
    font-weight:normal;
    font-size:1.25em;
    margin:4px 0 0 0;
    padding:0 0.5em 0.15em 0.5em;
    border-right:1px solid #808080;
    float:left;
}

#header_menu h3 a {
    color:#777;
    text-decoration:none;
}
